@import url('https://googleapis.com');/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize *//*
Document
========
*//**
Use a better box model (opinionated).
*/*,
::before,
::after {
	box-sizing: border-box;
}/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */
}/*
Sections
========
*//**
Remove the margin in all browsers.
*/body {
	margin: 0;
}/*
Text-level semantics
====================
*//**
Add the correct font weight in Chrome and Safari.
*/b,
strong {
	font-weight: bolder;
}/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}/**
Add the correct font size in all browsers.
*/small {
	font-size: 80%;
}/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}sub {
	bottom: -0.25em;
}sup {
	top: -0.5em;
}/*
Tabular data
============
*//**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/table {
	border-color: currentcolor;
}/*
Forms
=====
*//**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}/**
Correct the inability to style clickable types in iOS and Safari.
*/button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/legend {
	padding: 0;
}/**
Add the correct vertical alignment in Chrome and Firefox.
*/progress {
	vertical-align: baseline;
}/**
Correct the cursor style of increment and decrement buttons in Safari.
*/::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}/**
Remove the inner padding in Chrome and Safari on macOS.
*/::-webkit-search-decoration {
	-webkit-appearance: none;
}/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}/*
Interactive
===========
*//*
Add the correct display in Chrome and Safari.
*/summary {
	display: list-item;
}body {}body {
  font-family: 'Noto Sans', sans-serif;
}._fullScreen_1l6ts_1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  padding-bottom: 52px;
}

._content_1l6ts_9 {
  height: 100%;
}

._action_1l6ts_13 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}._creditCard_1d5px_1 {
  display: flex;
  justify-content: center;

  padding-top: 77px;
  padding-bottom: 45px;
}

._card_1d5px_9 {
  display: inline-block;
  position: relative;
  width: 212px;
  height: 132px;
  background-color: #333333;
  border-radius: 4px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
}

._card_1d5px_9:after {
  content: '';
  position: absolute;
  width: 36px;
  height: 22px;
  top: 8px;
  left: 12px;
  opacity: 1;
  border: 0.5px solid #ddcd781a;
  border-radius: 4px;
  background-color: #ddcd78;
}

._brand_1d5px_34 {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 36px;
}

._brand_1d5px_34 svg {
  width: 100%;
  height: auto;
}

._number_1d5px_46 {
  padding-top: 44px;
  color: #ffffff;
  font-size: 14px;
}
._number_1d5px_46 span {
  padding-right: 10px;
}
._expirationDate_1d5px_54 {
  padding-top: 8px;
  color: #ffffff;
  font-size: 14px;
}
._formGroup_gq4rv_1 {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  gap: 16px;
  border: none;
}

._hide_gq4rv_12 {
  height: 0; padding: 0; overflow: hidden;
}

._titleContainer_gq4rv_16 {
  display: flex;
  align-content: space-between;
  flex-direction: column;

  gap: 4px;
}

._title_gq4rv_16 {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

._subTitle_gq4rv_33 {
  font-weight: 400;
  font-style: normal;
  font-size: 9.5px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #8b95a1;
}
._label_rz5l7_1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0%;
  vertical-align: middle;
}

._field_rz5l7_9 {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  gap: 8px;
}
._children_rz5l7_15 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

._errorMessage_rz5l7_21 {
  font-weight: 400;
  font-size: 9.5px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  min-height: 20px;
  color: #ff3d3d;
}

._hidden_rz5l7_32 {
  visibility: hidden;
}
._input_7dll8_1 {
  width: 100%;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #acacac;
  color: #000000;
  padding: 8px;
  font-size: 11px;
  box-sizing: border-box;
}

._input_7dll8_1:focus {
  border-color: #000000;
  outline: none;
}

._input_7dll8_1._isError_7dll8_17 {
  border-color: #ff3d3d;
}
._select_1kf4e_1 {
  position: relative;
  width: 100%;
  height: 32px;
}

._box_1kf4e_7 {
  position: relative;
  height: 32px;
  padding: 8px 30px 8px 10px;
  border: 1px solid #000;
  font-size: 12px;
  border-radius: 2px;
  box-sizing: border-box;
}

._arrow_1kf4e_17 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

._options_1kf4e_27 {
  position: absolute;
  top: 36px;
  width: 100%;
}

._list_1kf4e_33 {
  list-style: none;
  cursor: pointer;
  border: 1px solid #ACACAC;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  background: #ffffff;
}

._list_1kf4e_33 li {
  height: 32px;
}

._list_1kf4e_33 li a {
  display: inline-block;
  width: 100%;
  padding: 9px 10px;
  font-weight: 400;
  font-size: 12px;
  color: #4F4F4F;
  line-height: 14px;
  text-decoration: none;
  box-sizing: border-box;
}._button_16i7f_1 {
  display: inline-block;
  border: 1px solid transparent;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  box-sizing: border-box;
}

._variant-default_16i7f_12 {
  color: #353C49;
}

._variant-primary_16i7f_16 {
  background: #333333;
  color: #ffffff;
}

._edge-rounded_16i7f_21 {
  border-radius: 5px;
}

._edge-flat_16i7f_25 {
  border-radius: 0;  
}

._size-normal_16i7f_29 {
  height: 44px;

  padding: 12px 10px;
  font-size: 15px;
  font-weight: 700;
}

._size-large_16i7f_37 {
  height: 52px;

  padding: 16px 10px;
  font-size: 16px;
  font-weight: 700;
}

._is-block_16i7f_45 {
  width: 100%;
}._payments_1us6g_1 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 600px;
  margin: auto;
}
._symbolInfo_ywfb2_1 {
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
}

._symbolInfo_ywfb2_1._is-full_ywfb2_7 {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; 
}

._box_ywfb2_15 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._symbol_ywfb2_1 {
  display: inline-block;
}

._content_ywfb2_25 {
  padding-top: 35px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
}

._action_ywfb2_33 {
  padding-top: 35px;
}