@import url('https://googleapis.com');/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize *//*
Document
========
*//**
Use a better box model (opinionated).
*/*,
::before,
::after {
	box-sizing: border-box;
}/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */
}/*
Sections
========
*//**
Remove the margin in all browsers.
*/body {
	margin: 0;
}/*
Text-level semantics
====================
*//**
Add the correct font weight in Chrome and Safari.
*/b,
strong {
	font-weight: bolder;
}/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}/**
Add the correct font size in all browsers.
*/small {
	font-size: 80%;
}/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}sub {
	bottom: -0.25em;
}sup {
	top: -0.5em;
}/*
Tabular data
============
*//**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/table {
	border-color: currentcolor;
}/*
Forms
=====
*//**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}/**
Correct the inability to style clickable types in iOS and Safari.
*/button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/legend {
	padding: 0;
}/**
Add the correct vertical alignment in Chrome and Firefox.
*/progress {
	vertical-align: baseline;
}/**
Correct the cursor style of increment and decrement buttons in Safari.
*/::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}/**
Remove the inner padding in Chrome and Safari on macOS.
*/::-webkit-search-decoration {
	-webkit-appearance: none;
}/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}/*
Interactive
===========
*//*
Add the correct display in Chrome and Safari.
*/summary {
	display: list-item;
}body {}body {
  font-family: 'Noto Sans', sans-serif;
}
._creditCard_albfu_2 {
  padding-top: 77px;
  padding-bottom: 45px;
  text-align: center;
}

._card_albfu_8 {
  display: inline-block;
  position: relative;
  width: 212px;
  height: 132px;
  background-color: #333333;
  border-radius: 4px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
}

._card_albfu_8:after {
  content: "";
  position: absolute;
  width: 36px;
  height: 22px;
  top: 8px;
  left: 12px;
  opacity: 1;
  border: 0.5px solid #DDCD781A;
  border-radius: 4px;
  background-color: #DDCD78;
  
}

._brand_albfu_34 {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 36px;
}

._brand_albfu_34 svg {
  width: 100%;
  height: auto;
}

._number_albfu_46 {
  padding-top: 44px;
  color: #ffffff;
  font-size: 14px;
}
._number_albfu_46 span {
  padding-right: 10px;
}
._expirationDate_albfu_54 {
  padding-top: 8px;
  color: #ffffff;
  font-size: 14px;
}
._formGroup_vhkre_1 {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  gap: 16px;
  border: none;
}

._titleContainer_vhkre_12 {
  display: flex;
  align-content: space-between;
  flex-direction: column;

  gap: 4px;
}

._title_vhkre_12 {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

._subTitle_vhkre_29 {
  font-weight: 400;
  font-style: normal;
  font-size: 9.5px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #8b95a1;
}
._label_1ae8b_1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0%;
  vertical-align: middle;
}

._formContainer_1ae8b_9 {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  gap: 8px;
}
._children_1ae8b_15 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

._errorMessage_1ae8b_21 {
  font-weight: 400;
  font-size: 9.5px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  min-height: 20px;
  color: #ff3d3d;
}

._hidden_1ae8b_32 {
  visibility: hidden;
}
._input_7dll8_1 {
  width: 100%;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #acacac;
  color: #000000;
  padding: 8px;
  font-size: 11px;
  box-sizing: border-box;
}

._input_7dll8_1:focus {
  border-color: #000000;
  outline: none;
}

._input_7dll8_1._isError_7dll8_17 {
  border-color: #ff3d3d;
}
